/* .faq-container .faq-summary {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
} */

.faq-container .faq-summary h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.faq-container .faq-summary h3 span.icon {
  display: block;
  padding-inline: 10px;
}
